<%- include("header") -%>
<body>
  <h1>About us</h1>    
  <p>Welcome to our quizzing web app crafted by Prakhar, Rahul, and Pawan. As enthusiastic college students, we've pooled our skills and passion to create an engaging platform for CodeSangam. With a shared love for technology and knowledge, our aim is to provide a competitive yet enjoyable experience for all participants. Join us in this venture as we bring forth a stimulating environment where learning meets friendly competition. <br><br>
  Step into the world of interactive learning and friendly competition with us – Prakhar, Rahul, and Pawan – the driving force behind this quizzing web app tailored for CodeSangam. Bound by our shared enthusiasm for technology and education, we embarked on a journey to create a platform that blends the thrill of competition with the joy of acquiring knowledge.</p>
  <%- include("footer") -%>
</body>
