<%- include("header") -%>
<body>
  <h1>About us</h1>    
  <p>Welcome to our website Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum lectus dignissim nulla consequat, at iaculis eros facilisis. Phasellus id consectetur neque. Maecenas convallis porttitor urna, sed molestie odio porttitor molestie. Cras consequat, orci nec placerat porta, elit velit rhoncus mauris, vel varius enim leo vitae tortor. Suspendisse elementum magna.</p>
  <%- include("footer") -%>
</body>
