<%- include("header")-%>
<body>
    <% if(showAlert) { %>
    <script>
        alert('Login Successful!);
    </script>
    <% } %>
    <form action="/quiz_window" method="post">
        <label for="quiz_name">Enter title of quiz: </label>
        <input type="text" name="quiz_name" id="quiz_name" autocomplete="off">
        <button type="submit">Create Quiz</button>
    </form>
    <%- include("footer") -%>
</body>


