<%- include("header") -%>

<body>
  <header class="header">
    <h1>Let's Start Quizzin</h1>
  </header>

  <%- include("navbar") -%>

  <div class="main-content">
    <!-- Your main content here -->
  </div>
    
    <%- include("footer") -%>
</body>

</html>